<div class="tile is-ancestor">
  <div *ngFor="let product of products" class="tile is-3 is-parent">
    <div class="tile is-child box">
      <div class="title">{{ product.name }}</div>
      <div class="columns">
        <div class="column">
          <span *ngIf="product.price">${{ product.price }}</span>
          <span *ngIf="!product.price">
            FREE
          </span>
        </div>
        <div class="column">
          <p *ngFor="let size of product.sizes"> {{ size }}</p>
        </div>
      </div>
      <div>
        <button (click)="buy(product)" class="button is-primary">Buy</button>
      </div>
    </div>
  </div>
</div>
